const paths = document.querySelectorAll("path");
const center = document.querySelector(".center");
const name = document.querySelector(".name");

paths.forEach((path, i) => {
  setTimeout(() => {
    path.style.transition = "stroke-dashoffset 1.1s linear";
    path.style.strokeDashoffset = "0";
  }, i * 700);
});

setTimeout(() => {
  center.style.opacity = 1;
}, paths.length * 700 + 200);

setTimeout(() => {
  name.style.opacity = 1;
}, paths.length * 700 + 900);
